<main class="max-w-[1440px] mx-auto p-6 lg:p-10">
  <div class="mb-8">
    <div
      class="flex flex-col md:flex-row md:items-center justify-between gap-4 mb-6"
    >
      <div>
        <h1 class="text-2xl font-bold text-slate-900 light:text-white">
          Control de clientes
        </h1>
      </div>
      <button
        [routerLink]="['/new-client']"
        class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2.5 rounded-lg flex items-center justify-center gap-2 font-medium transition-all shadow-lg shadow-blue-200"
      >
        Agregar cliente
      </button>
    </div>
    <div
      class="bg-white bg-slate-300 p-4 rounded-xl border border-slate-100 shadow-sm flex flex-col lg:flex-row gap-4"
    >
      <div class="relative flex-1">
        <input
          [formControl]="searchControl"
          class="w-full pl-10 pr-4 py-2 bg-slate-100 focus:border-blue-100 rounded-lg text-sm transition-all"
          placeholder="Busqueda por nombre o ID."
          type="text"
        />
      </div>
    </div>
  </div>
  <div class="table-cointainer pt-10">
    <div
      class="bg-white rounded-xl border border-slate-200 shadow-sm overflow-hidden"
    >
      <div class="overflow-x-auto">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="bg-slate-50 border-b border-slate-200">
              <th
                class="px-6 py-4 text-xs font-semibold text-slate-500 uppercase tracking-wider"
              >
                Empresa
              </th>
              <th
                class="px-6 py-4 text-xs font-semibold text-center text-slate-500 uppercase tracking-wider"
              >
                ID
              </th>
              <th
                class="px-6 py-4 text-xs font-semibold text-center text-slate-500 uppercase tracking-wider"
              >
                RNC
              </th>
              <th
                class="px-6 py-4 text-xs font-semibold text-center text-slate-500 uppercase tracking-wider"
              >
                Direcciones
              </th>
              <th
                class="px-6 py-4 text-xs font-semibold text-center text-slate-500 uppercase tracking-wider"
              >
                Status
              </th>
              <th
                class="px-6 py-4 text-xs font-semibold text-center text-slate-500 uppercase tracking-wider text-right"
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-primary/5">
            @for (
              client of getFilteredClients();
              track trackByClientId($index, client)
            ) {
              <tr
                class="hover:bg-primary/5 transition-colors group border-b border-slate-200"
              >
                <td class="px-6 py-4">
                  <div class="flex items-center gap-3">
                    <img
                      alt="Avatar de {{ client.clientName }}"
                      class="w-10 h-10 rounded-lg object-contain border border-slate-200"
                      [src]="client.imageUrl"
                    />
                    <div>
                      <p class="text-sm font-bold text-slate-900">
                        {{ client.enterpriseName }}
                      </p>
                      <p class="text-xs text-slate-500">
                        {{ client.clientName }}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 text-center">
                  <span
                    class="font-mono text-xs font-medium bg-slate-100 0 px-2 py-1 rounded"
                    >{{ client.id }}</span
                  >
                </td>
                <td class="px-6 py-4 text-center">
                  <div class="text-sm">
                    <p class="font-medium">{{ client.rnc }}</p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex items-center gap-2 justify-center">
                    <span class="text-sm font-medium"
                      >{{ client?.addresses?.length }}
                    </span>
                    <span
                      class="text-[10px] bg-slate-100 0 text-slate-500 px-1.5 py-0.5 rounded"
                      >Locations</span
                    >
                  </div>
                </td>
                <td class="px-6 py-4 text-center">
                  <span
                    class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                    [ngClass]="
                      client.status === 'Active'
                        ? 'bg-emerald-100 text-emerald-800'
                        : client.status === 'Pending'
                          ? 'bg-amber-100 text-amber-800'
                          : 'bg-slate-100 text-slate-600'
                    "
                  >
                    <span
                      class="w-1.5 h-1.5 rounded-full mr-1.5"
                      [ngClass]="
                        client.status === 'Active'
                          ? 'bg-emerald-500'
                          : client.status === 'Pending'
                            ? 'bg-amber-500'
                            : 'bg-slate-400'
                      "
                    ></span>
                    {{ client.status }}
                  </span>
                </td>
                <td class="px-6 py-4 text-right">
                  <button
                    class="text-slate-400 hover:text-primary transition-colors"
                    [routerLink]="['/client', client.id]"
                  >
                    <span class="material-icons"> Ver</span>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div
        class="px-6 py-4 bg-slate-50 0/50 border-slate-200 flex flex-col sm:flex-row items-center justify-between gap-4"
      >
        <p class="text-sm text-slate-500">
          <span class="font-semibold text-slate-900">{{ clients.length }}</span>
          Clientes
        </p>
        <div class="flex items-center gap-2"></div>
      </div>
    </div>
  </div>
</main>
